---
import type { MarkdownLayoutProps } from "astro";

type Props = MarkdownLayoutProps<{
  // Define frontmatter props here
  title: string;
  nocomment: boolean;
}>;
const {
  frontmatter: { title, nocomment },
} = Astro.props;
---

<html lang="ko">
  <head>
    <title>{title}</title>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-D5EML4ME9K"
    ></script>
    <link rel="canonical" />
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-D5EML4ME9K");
    </script></head
  >

  <!-- Google tag (gtag.js) -->

  <body>
    <main>
      <article>
        <slot />
      </article>
      {
        nocomment ? null : (
          <div id="comments" class="comments">
            <script
              src="https://utteranc.es/client.js"
              repo="jewelism/jewelism.github.io"
              issue-term={title}
              label="comments"
              theme="preferred-color-scheme"
              crossorigin="anonymous"
              async
            />
          </div>
        )
      }
    </main>
  </body>
</html>
