---
import type { MarkdownLayoutProps } from "astro";

type Props = MarkdownLayoutProps<{
  // Define frontmatter props here
  title: string;
  author: string;
  date: string;
}>;
const { frontmatter } = Astro.props;
---

<html lang="ko">
  <head>
    <title>{frontmatter.title}</title>
  </head>
  <body>
    <main>
      <article>
        <slot />
      </article>
      <div id="comments" class="comments">
        <script
          src="https://utteranc.es/client.js"
          repo="jewelism/jewelism.github.io"
          issue-term={frontmatter.title}
          label="comments"
          theme="preferred-color-scheme"
          crossorigin="anonymous"
          async></script>
      </div>
    </main>
  </body>
</html>
